{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://twitter.com/lotterleben" class="icon fa-twitter"></a></li>
    <li><a href="http://instagram.com/lotterleben" class="icon fa-instagram"></a></li>
    <li><a href="mailto:lotte@zombietetris.de" class="icon fa-envelope-o"></a></li> 
    <li><a href="{{blog.url}}/rss/" class="icon fa-rss"></a>
    </li>   
</ul>
